#MultiImages {
    margin-top: 120px;
}

#MultiImages .inside {
    display: flex;
}

#MultiImages .inside img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    filter: brightness(0.7);
    transition: var(--am-Transition);
}

#MultiImages .inside img:hover {
    filter: brightness(1);
}

#MultiImages .multiLeft {
    width: 40%;
}

#MultiImages .multiRight {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}